{% extends "base.html" %}

{% block title %}BLAST | Thermocouples{% endblock %}
{% block header_title %}Thermocouples{% endblock %}

{% block head %}
<script>
const Config = {
    THERMOCOUPLES: {{ config.THERMOCOUPLES | tojson }},
    NUM_THERMOCOUPLES: {{ config.NUM_THERMOCOUPLES }},
    LOAD_CELLS: {{ config.LOAD_CELLS | tojson }},
    NUM_LOAD_CELLS: {{ config.NUM_LOAD_CELLS }}
};
</script>
<script src="{{ url_for('static', filename='js/thermocouples.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="chart-container">
        <div id="tc-chart" class="plot"></div>
    </div>
</div>
{% endblock %} 