{% extends "base.html" %}

{% block title %}BLAST | Flow Control Valves{% endblock %}
{% block header_title %}Flow Control Valves{% endblock %}

{% block head %}
<script>
const Config = {
    FLOW_CONTROL_VALVES: {{ config.FLOW_CONTROL_VALVES | tojson }}
};
</script>
<script src="{{ url_for('static', filename='js/valves.js') }}"></script>
<script src="{{ url_for('static', filename='js/get_data.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="valve-grid-container">
        {% for i in range(8) %}
            {% if i == 3 %}
                <div class="valve-block" id="valve-block-{{ i }}">
                    <div class="blast-phoenix-card">
                        <div class="blast-text">BLAST</div>
                        <div class="phoenix-text">Phoenix</div>
                    </div>
                </div>
            {% else %}
                {% set valve_index = i if i < 3 else i - 1 %}
                {% set valve = config.FLOW_CONTROL_VALVES[valve_index] if valve_index < config.NUM_FLOW_CONTROL_VALVES else none %}
                <div class="valve-block" id="valve-block-{{ i }}">
                    {% if valve %}
                        <div class="valve-title">{{ valve.name }}</div>
                        <div class="valve-state-container">
                            <div class="state-display actual-state-display">
                                <span class="valve-state-label">Actual:</span>
                                <div class="valve-state actual-state off" id="valve-{{ valve.id }}-actual"></div>
                            </div>
                            <div class="state-display expected-state-display">
                                <span class="valve-state-label">Expected:</span>
                                <div class="valve-state expected-state off" id="valve-{{ valve.id }}-expected"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %} 